* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body > * {
    padding-left: 5vw;
    padding-right: 5vw;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > * {
    margin-left: 60px;
}
a {
    text-decoration: none;
    color: black;
}
.logo-container {
    display: flex;
}
.logo {
    font-size: 50px;
    font-weight: 900;
}
.logo:first-child {
    color: red;
}
.logo:last-child {
    color: rgb(70, 200, 50);
}


main {
    flex-grow: 1;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
    background-color: #dedede;
    background-image: url(images/moroccan-flower.png);
    background-size: auto;
    background-repeat: repeat;
    gap: 0 50px;
}
.information-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}
h1 {
    line-height: 1;
    font-size: 80px;
    font-weight: 900;
}
.information-container p {
    font-size: 20px;
}
.browse {
    gap: 0 20px;
    font-size: 25px;
    display: flex;
}
.images-container {
    width: 70%;
    justify-content: center;
    display: flex;
    gap: 0 20px;
}

#food-1 {
    background-image: url(images/apple-breakfast-quinoa-7.jpg);
}
#food-2 {
    background-image: url(images/pasta-salad-recipe-for-lunch.jpg);
}
#food-3 {
    background-image: url(images/Screenshot_208.jpg);
}
.image {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: end;
    align-items: end;
    background-position: center;
    background-size: cover;
}
.image > * {
    font-weight: 700;
}
.image > *:first-child {
    background-color: #fff;
    padding: 14px;
}
.image > *:last-child {
    text-align: end;
    background-color: rgb(70, 200, 50);
    padding: 15px;
    width: calc(50% - 30px);
}